@import url('position.css');
@import url('./colors.css');
@import url('text.css');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
}

/******************************************
/* BASE STYLES
/*******************************************/
html {

    font: normal 400 62.5% 'Montserrat', serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    padding: 2vh 2vh;
}

body * {
    font-size: 1.6rem;
}

h1 {
    font-size: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 1rem;
}
h2 {
    font-size: 2.6rem;
    text-transform: uppercase;
    padding: 0 0 2rem 0;
}
h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
}
h4 {
    font-size: 1.8rem;
    text-transform: capitalize;

}

form {
    text-align: right;
    padding: 2rem 0;
}
input,
button {
    padding: 1rem;
}

ul {
    display: block;
}
ul li {
    padding: 1rem 0 1rem 2rem;
    list-style-type: disc;
    list-style-position: inside;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
ul ul li {
    font-style: italic;
    list-style-type: none;
}

.meaning-type {
    padding: 2rem;
    border-radius: 2rem;
    background: rgba(0, 255, 0, .05);
    margin-bottom: 2rem;
}

.synonyms {
    margin-top: 3rem;
}
.synonyms ul {
    display: inline-block;
}
.synonyms ul li {
    display: inline;
    list-style-type: none;
}
.synonyms ul li span {
    cursor: pointer;
}
.synonyms ul li span:hover {
    color: red;
}